<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
        position : absolute;
        right : 10px;
        top : 5px
        }

    </style>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>


<div>

<button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
    </div>
Welcome {{e}}
<br><br>
<button type="button" onclick="location.href='{% url 'check' %}'">Посмотреть прайс лист</button>
<button type="button" onclick="location.href='{% url 'create' %}'">Создать новое поле</button>
</body>
</html>